:root {
  --height: 94.6vh;
  --main-theme-color: rgb(180, 0, 204);
  --main-theme-color-hover: rgb(119, 0, 135);
  --font: "Poppins", sans-serif;
  --font-w-2: 200;
  --font-w-3: 300;
  --font-w-5: 500;
  --font-w-6: 600;
  --font-w-8: 800;
}
.game-display-page {
  margin: 1.9rem;
}
.content-page {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.content-error {
  font-family: var(--font);
  font-weight: var(--font-w-3);
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.card {
  width: 245px;
  height: 400px;
  background-image: url("../images/wotlk-arthas.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: whitesmoke;
  margin: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  border: 1px solid black;
}
.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.card-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.card-info #card-title {
  font-family: var(--font);
  font-weight: var(--font-w-5);
}
.card-info #card-description {
  font-family: var(--font);
  font-weight: var(--font-w-3);
}
.card-info #card-item-price {
  font-family: var(--font);
  font-weight: var(--font-w-5);
}
.card-info #card-item-developer {
  font-family: var(--font);
  font-weight: var(--font-w-5);
}

/* Mobile */

@media only screen and (max-width: 720px) {
  .game-display-page {
  }
  .content-page {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
