:root {
  --height: 94.6vh;
  --main-theme-color: #007fc4;
  --main-theme-color-hover: #003b5a;
  --font: "Poppins", sans-serif;
  --font-w-2: 200;
  --font-w-3: 300;
  --font-w-5: 500;
  --font-w-6: 600;
  --font-w-8: 800;
}
.content {
  font-family: var(--font);
  margin-top: 5px;
  width: 100%;
  background-color: #151515;
}
.page-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.welcome-msg {
  font: var(--font);
  color: whitesmoke;
  font-weight: var(--font-w-5);
  font-size: 2.5rem;
  text-align: center;
}
.welcome-msg #app-name {
  color: var(--main-theme-color);
}
.description {
  color: whitesmoke;
  text-align: center;
  margin-bottom: 15px;
}
