:root {
  --height: 94.6vh;
  --main-theme-color-black: #111111;
  --main-theme-color-gray: #322a26;
  --main-theme-color-blue: #007fc4;
  --main-theme-color-lightblue: #008eda;
  --main-theme-color-white: #dce1e9;
  --main-theme-color-red: #a50000;
  --main-theme-color-lightred: #c40000;
  --font: "Poppins", sans-serif;
  --font-w-2: 200;
  --font-w-3: 300;
  --font-w-5: 500;
  --font-w-6: 600;
  --font-w-8: 800;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background-color: #111111;
  font-family: var(--font);
  font-weight: var(--font-w-3);
}
.web-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav {
  display: none;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.nav-links {
  display: flex;
  justify-content: center;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  background-color: var(--main-theme-color-lightblue);
  width: 100%;
  height: 1px;
}
#option-active {
  text-decoration: none;
  font-size: 1.05rem;
  margin: 10px;
  color: var(--main-theme-color-blue);
  transition-duration: 0.3s;
}
#option {
  text-decoration: none;
  font-size: 1.05rem;
  margin: 10px;
  color: var(--main-theme-color-white);
  transition-duration: 0.3s;
}
#option:hover {
  text-decoration: none;
  font-size: 1.05rem;
  margin: 10px;
  color: var(--main-theme-color-blue);
  transition-duration: 0.3s;
}
.btn-container {
  margin-right: 5px;
}
#login-btn {
  width: 88px;
  height: 25px;
  background-color: var(--main-theme-color-blue);
  color: var(--main-theme-color-white);
  border: none;
  border-radius: 2px;
  font-family: var(--font);
  font-size: 13px;
  transition-duration: 0.3s;
}
#login-btn:hover {
  width: 88px;
  height: 25px;
  background-color: var(--main-theme-color-lightblue);
  color: var(--main-theme-color-white);
  border: none;
  border-radius: 2px;
  font-family: var(--font);
  font-size: 13px;
  transition-duration: 0.3s;
  cursor: pointer;
}
#logout-btn {
  width: 88px;
  height: 25px;
  background-color: var(--main-theme-color-lightred);
  color: var(--main-theme-color-white);
  border: none;
  border-radius: 2px;
  font-family: var(--font);
  font-size: 13px;
  transition-duration: 0.3s;
}
#logout-btn:hover {
  width: 88px;
  height: 25px;
  background-color: var(--main-theme-color-red);
  color: var(--main-theme-color-white);
  border: none;
  border-radius: 2px;
  font-family: var(--font);
  font-size: 13px;
  transition-duration: 0.3s;
  cursor: pointer;
}
/* For mobile */
#login-btn-m {
  font-family: var(--font);
  font-size: 1.4rem;
  border: none;
  color: var(--main-theme-color-white);
  font-weight: var(--font-w-5);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--main-theme-color-blue);
  border-radius: 3px;
  transition-duration: 0.5s;
  text-decoration: none;
}
#logout-btn-m {
  font-family: var(--font);
  font-size: 1.4rem;
  border: none;
  color: var(--main-theme-color-white);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--main-theme-color-red);
  border-radius: 3px;
  transition-duration: 0.5s;
  text-decoration: none;
}
#m-option {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 15px;
  color: var(--main-theme-color-white);
  transition-duration: 0.5s;
}

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.hamburger-menu:hover {
  cursor: pointer;
}
@media only screen and (max-width: 720px) {
  .web-nav {
    display: none;
  }
  .btn-container {
    display: none;
  }
  .mobile-nav {
    appearance: auto;
    display: flex;
    align-items: center;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu {
  display: none;
}
.nav-menu.active {
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  width: 100%;
  height: var(--height);
  text-decoration: none;
  background-color: #111111;
}
