:root {
  --height: calc(100vh - 50px);
  --main-theme-color-black: #191308;
  --main-theme-color-gray: #322a26;
  --main-theme-color-blue: #007fc4;
  --main-theme-color-lightblue: #008eda;
  --main-theme-color-white: #dce1e9;
  --main-theme-color-red: #a50000;
  --main-theme-color-lightred: #c40000;
  --font: "Poppins", sans-serif;
  --font-w-2: 200;
  --font-w-3: 300;
  --font-w-5: 500;
  --font-w-6: 600;
  --font-w-8: 800;
}
.page {
  font-family: var(--font);
  display: flex;
  width: 100%;
  height: var(--height);
}
.notification-handling {
  margin-bottom: 15px;
}
.upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #111111;
  border-right: 1px solid #333333;
}
.upload-guidelines {
  background-color: #111111;
  width: 30%;
}
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.form-header {
  font-size: 2rem;
  font-weight: var(--font-w-8);
  color: var(--main-theme-color-white);
  margin-bottom: 20px;
}
.form-container {
  width: 70%;
}
.upload-form input {
  font-family: var(--font);
  font-weight: var(--font-w-3);
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  background-color: #111111;
  border: 1px solid rgba(245, 245, 245, 0.44);
  color: var(--main-theme-color-white);
  border-radius: 1px;
}
input:focus {
  outline: none;
}
.upload-form textarea {
  font-family: var(--font);
  font-weight: var(--font-w-3);
  width: 99%;
  height: 200px;
  background-color: #111111;
  border: 1px solid rgba(245, 245, 245, 0.44);
  color: var(--main-theme-color-white);
  border-radius: 1px;
  resize: none;
}
textarea:focus {
  outline: none;
}
.input-field {
  width: 100%;
  display: flex;
  align-items: center;
}
.validation-check {
  position: absolute;
  margin-left: 32rem;
}
.input-container {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.input-error {
  margin-top: 5px;
  font-size: 11px;
  color: red;
}
.textarea-container {
  width: 50%;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}
.input-container label {
  margin-bottom: 15px;
  color: var(--main-theme-color-white);
}
.input-container small {
  color: var(--main-theme-color-darkblue);
  font-size: 11px;
}
input[type="file"]::file-selector-button {
  font-family: var(--font);
  border: none;
  padding: 7px;
  background-color: var(--main-theme-color-white);
  transition-duration: 0.3s;
}
input[type="file"]::file-selector-button:hover {
  font-family: var(--font);
  border: none;
  padding: 7px;
  background-color: var(--main-theme-color-white);
  transition-duration: 0.3s;
  cursor: pointer;
}
#upload-btn {
  padding: 3px 18px;
  margin-bottom: 35px;
  font-size: 0.9rem;
  font-family: var(--font);
  font-weight: var(--font-w-3);
  color: var(--main-theme-color-white);
  background-color: var(--main-theme-color-lightblue);
  border: none;
  border-radius: 2px;
  transition-duration: 0.3s;
}
#upload-btn:hover {
  padding: 3px 18px;
  margin-bottom: 35px;
  font-size: 0.9rem;
  font-family: var(--font);
  font-weight: var(--font-w-3);
  color: var(--main-theme-color-white);
  background-color: var(--main-theme-color-blue);
  border: none;
  border-radius: 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}
#upload-btn:disabled {
  padding: 3px 18px;
  margin-bottom: 35px;
  font-size: 0.9rem;
  font-family: var(--font);
  font-weight: var(--font-w-3);
  color: var(--main-theme-color-white);
  background-color: #5f5f5f;
  border: none;
  border-radius: 2px;
  cursor: default;
}
.error {
  color: red;
  font-size: 0.79rem;
}

@media only screen and (max-width: 720px) {
  .upload-guidelines {
    display: none;
  }
  .upload-container {
    width: 100%;
    min-height: 600px;
  }
  .upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .form-header {
    font-size: 2rem;
    font-weight: var(--font-w-8);
    color: var(--main-theme-color-white);
  }
}
