:root {
  --height: 94.6vh;
  --file-input-btn-color: whitesmoke;
  --file-input-btn-color-hover: rgb(191, 191, 191);
  --main-theme-color: #007fc4;
  --main-theme-color-hover: #003b5a;
  --input-color: #3f3f3f;
  --font: "Poppins", sans-serif;
  --font-w-2: 200;
  --font-w-3: 300;
  --font-w-5: 500;
  --font-w-6: 600;
  --font-w-8: 800;
}
.page {
  font-family: var(--font);
  display: flex;
  width: 100%;
  height: var(--height);
}
.upload-container {
  width: 70%;
  background-color: #151515;
  border-right: 1px solid #333333;
}
.upload-guidelines {
  background-color: #151515;
  width: 30%;
}
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#header {
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: var(--font-w-8);
  color: whitesmoke;
}
.upload-form input {
  font-family: var(--font);
  font-weight: var(--font-w-3);
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
  background-color: var(--input-color);
  border: 1px solid rgba(245, 245, 245, 0.44);
  color: whitesmoke;
  border-radius: 1px;
}
.upload-form textarea {
  font-family: var(--font);
  font-weight: var(--font-w-3);
  width: 50%;
  height: 200px;
  background-color: var(--input-color);
  border: 1px solid rgba(245, 245, 245, 0.44);
  color: whitesmoke;
  border-radius: 1px;
  resize: none;
}
textarea:focus {
  outline: none;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.input-container label {
  margin-bottom: 15px;
  color: whitesmoke;
}
input[type="file"]::file-selector-button {
  font-family: var(--font);
  border: none;
  padding: 7px;
  background-color: var(--file-input-btn-color);
  transition-duration: 0.3s;
}
input[type="file"]::file-selector-button:hover {
  font-family: var(--font);
  border: none;
  padding: 7px;
  background-color: var(--file-input-btn-color-hover);
  transition-duration: 0.3s;
  cursor: pointer;
}
#upload-btn {
  width: 120px;
  height: 30px;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--font-w-3);
  color: whitesmoke;
  background-color: var(--main-theme-color);
  border: none;
  border-radius: 2px;
  transition-duration: 0.3s;
}
#upload-btn:hover {
  width: 120px;
  height: 30px;
  font-size: 1rem;
  font-family: var(--font);
  font-weight: var(--font-w-3);
  color: whitesmoke;
  background-color: var(--main-theme-color-hover);
  border: none;
  border-radius: 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 0.79rem;
}
